[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SparseChol"]
	path = SparseChol
	url = https://github.com/samuel-watson/sparsechol
	shallow = true
	registered = true
